


#banner1 {
    padding: 50px;
    background-image:url(/Assets/h_img.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position:center;
  
 
}

.text1 {
    padding-top: 5%;
    color: white;
    font-size: 12px;
    text-align: center;
    
}

#logo {
   padding-bottom:20px;
    
}

.banner2 {
    padding: 50px;
    background-image:url(/Assets/s_image.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position:center;

}

.text1 {
    padding-top: 5%;
    color: white;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    text-align: center;
}

.contacts {
    padding: 50px;
    background-size: 90%;
    background-position:center;
    
}

.contact-overlay {
    background-color: rgb(95, 88, 88);
    background-image: url('/Assets/s_image.jpg');
  
}


.contacts h1 {
    position: relative;
    top: 20px;
}
.text{
    margin-bottom: 20px;
}


.input{
    margin-top: 30px;
    margin-left: 100px;
}
.contactus-text{
    font-family: 'Comfortaa', cursive;
    
}



.name{
    margin-right: 5px;
    margin-left: 70px;
}
input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}
.email{
    margin-right: 5px;
    margin-left: 70px;
}