#PortfolioInfo {
    background-color:#eee;
    text-align:center;
    padding:10px;
    width:250px;
    height:250px;
    color:#333;
    font-weight:bold;
    border:3px solid #ccc;
    position:absolute;
    right:0;
    border-radius:5px;
    margin-right:50px;
}
#PortfolioInfo>* {
    display:none;
}